<div class="col-12 mb-30">
    <div class="box">
    </div>
    <div class="box">
        <div class="box-body">
            <div class="col-12 row">
                <div class="col-9">
                    <h1>لیست مطالب</h1>
                </div>
                <div>
                    <a href="/admin/posts/create" class="button button-primary col-12"><span><i class="zmdi zmdi-check"></i>افزودن پست جدید</span>
                    </a>
                </div>
            </div>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>عنوان</th>
                    <th>نویسنده</th>
                    <th>تاریخ ایجاد</th>
                    <th>تعداد بازدید</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                {{#each presentedPosts}}
                    <tr>
                        <th>{{this.id}}</th>
                        <th><a href="{{this.slug}}">{{this.title}}</a></th>
                        <th>{{this.full_name}}</th>
                        <th>{{this.created_at_jalali}}</th>
                        <th>{{this.persianViews}}</th>
                        <th>
                            <a href="/admin/posts/edit/{{this.id}}"><i class="fa fa-pencil"></i></a>
                            <a href="/admin/posts/delete/{{this.id}}"><i class="fa fa-remove"></i></a>
                        </th>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>