<div class="col-12 mb-30">
    <div class="box">
    </div>
    <div class="box">
        <div class="box-head has-operation d-flex">
            <h1 class="title">لیست کاربران</h1>
            <div class="operations mr-auto">
                <a href="/admin/users/create" class="button button-primary col-12"><span><i
                        class="zmdi zmdi-plus"></i>افزودن کاربر جدید</span>
                </a>
            </div>
        </div>
        <div class="box-body">
            {{#if success}}
                <div class="alert alert-success" role="alert">
                    <i class="zmdi zmdi-info"></i> {{success}}
                </div>
            {{/if}}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>نام کامل</th>
                    <th>ایمیل</th>
                    <th>تاریخ عضویت</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                {{#each users}}
                    <tr>
                        <th>{{this.id}}</th>
                        <th>{{this.full_name}}</th>
                        <th>{{this.email}}</th>
                        <th>{{this.created_at}}</th>
                        <th>
                            <a href="/admin/users/edit/{{this.id}}"><i class="fa fa-pencil"></i></a>
                            <a href="/admin/users/delete/{{this.id}}"><i
                                    class="fa fa-remove"></i></a>
                        </th>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>